.mypy_cache/
.ruff_cache/
__pycache__/
dist/
poetry.toml

.env
.npmrc
ee/codegen/lib/
ee/codegen/src/assets/node-definitions.json
examples/.ipynb_checkpoints/
node_modules/
tsconfig.tsbuildinfo
.idea
.DS_Store
htmlcov/
CLAUDE.md
apollo_bot/
