Jinja2==^3.1.2
cdktf==^0.20.5
click==8.1.7
docker==7.1.0
httpx>=0.21.2
openai>= 1.0.0
orderly-set==^5.2.2
publication==0.0.3
pydantic>= 1.9.2
pydantic-core==^2.18.2
pydash==7.0.6
python-dotenv==1.0.1
pytz==2025.1
pyyaml==6.0.2
requests==2.32.3
tomli==2.0.2
typing_extensions>= 4.0.0
