Jinja2>=3.1.0,<4.0.0
click>=8.1.7,<9.0.0
composio-client>=1.5.0,<2.0.0
composio-core>=0.7.20,<1.0.0
docker>=7.1.0,<8.0.0
httpx>=0.21.2
openai>=1.0.0,<2.0.0
orderly-set==^5.2.2
publication==0.0.3
pydantic>= 1.9.2
pydantic-core==^2.18.2
pydash>=7.0.0,<8.0.0
python-dateutil>=2.8.0,<3.0.0
python-dotenv>=1.0.0,<2.0.0
pytz>=2022.0,<2026.0
pyyaml>=6.0.0,<7.0.0
requests>=2.31.0,<3.0.0
tomli>=2.0.0,<3.0.0
typing_extensions>= 4.0.0
